/* @override http://symphony.local:8888/workspace/css/styles.css */

/******* Structure *******/

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;	
}

body {
	color: #463111;
	background: #74572d url("/workspace/images/background.gif") 0 0 repeat-y;
	font: 0.8em/1.9em Arial, sans-serif;
}

#package {
	text-align: left;
}

#wrapper {
	background: url("/workspace/images/background-wrapper.gif") 0 0 repeat-x;
	width: 100%;
	position: relative;
	z-index: 1;
}

#content {
	background: url("/workspace/images/background-content.gif") 0 0 repeat-y;
	width: 842px;
	margin: 0 0 20px 119px;
}

#column_left {
	width: 482px;
	float: left;
	position: relative;
	padding: 20px 20px 50px 20px;
}
	#column_left img {
		border: 1px solid #dad3c3;
		padding: 9px;
		background: #ffffff;
	}
	#column_left p.donate a {
		border: none;
	}
	#column_left p.donate img {
		padding: 0;
		background: none;
		border: none;
	}

    div#jay-laura {
        position: relative;
        top: -20px;
        left: -20px;
    }
    div#jay-laura a {
        background:  #dbebec url(/workspace/images/date-night-jay-laura.png) no-repeat center;
        height: 140px;
        width: 521px;
        display: block;
        border-bottom: 2px solid 
        #dcd3bf;
    }



#column_right {
	width: 320px;
	float: right;
	position: relative;
	padding-bottom: 100px;
	padding-top: 213px;
}

.noborder,
#content a.noborder {
	border: none;
}

.clear {
	clear: both;
}

/******* Links *******/

a {
	color: #9f1d00;
	text-decoration: none;
}

a:hover {
	color: #d5aa9a;
}

#content a {
	border-bottom: 1px solid #d5aa9a;	
}

#content #right_column a {
	border: none;
}

#content h2 a {
	border: none;
}

/*
#article h3 a {
	color: #222;
	border: none;
}

#article h3 a:hover {
	color: #65aae8;
}

#article ul.meta a {
	color: #599777;
	border-bottom: 1px dotted #96d4b4;
}
*/
ul.archive li a {
	border: none !important;
}

/******* Masthead *******/

#masthead {
}

#masthead h1 a {
	background: url("/workspace/images/logo-crf_content.gif") 118px top no-repeat;
	display: block;
	height: 100px;
	width: 359px;
}
#masthead h1 a strong {
	visibility: hidden;
}

/******* Content Header *******/

#header {
	position: relative;
	height: 264px;
}
	#header .header_overlay {
		position: absolute;
		right: 5px;
		bottom: -3px;
	}
	#header a {
		position: absolute;
	}
	#header a,
	#header a img {
		border: none;
		text-decoration: none;
	}

/******* Menu *******/

ul#menu {
	background: #463111 url("/workspace/images/logo-crf_nav.gif") left top no-repeat;
	width: 119px;
	position: absolute;
	z-index: 1000;
	padding: 200px 0 0 0;
	margin: 0;
}

ul#menu li {
	font: 12px Helvetica, Arial, sans-serif;
	letter-spacing: 90%;
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
	border-top: solid 1px #543c19;
	border-bottom: solid 1px #3b290e;
	padding: 7px 0 7px 0;
	margin: 0;
/*	display: inline;*/
} 
	ul#menu li.top {
		border-top: none;
	}
	ul#menu li.bottom {
		border-bottom: none;
	}

ul#menu a {
	color: #ede8dd;
/*	margin-left: 1em;*/
	padding-right: 20px;
}

ul#menu a:hover, ul#menu a.active {
	color: #fefbbf;
}

/******* Sub Menu *******/

ul#submenu,
#submenu li {
	list-style: none;
}

ul#submenu {
	width: 119px;
	margin: 7px 0 -7px 0;
	background: #c6b294 url("/workspace/images/background-submenu.gif") no-repeat;
}

ul#submenu li {
	font: bold 11px Arial, sans-serif;
	letter-spacing: 90%;
	text-align: right;
	text-transform: uppercase;
	border-top: solid 1px #d6c8b1;
	border-bottom: solid 1px #b2a085;
	padding: 5px 0 5px 0;
	margin: 0;
}

ul#submenu a {
	color: #463111;
}

ul#submenu a:hover, ul#submenu a.active {
	color: #463111;
}
ul#submenu li.top {
	padding-top: 7px;
	border-top: none;
}

ul#submenu li.bottom {
	border-bottom: none;
	padding-bottom: 7px;
}


/*

 
*/

/******* Contact Schedule *******/

#contact-schedule {
	background: url("/workspace/images/schedule.png") no-repeat;
	position: absolute;
	top: -35px;
	left: -25px;
	height: 253px;
	width: 397px;
	font-size: 11px;
	padding: 50px 0 0 182px;
	margin-bottom: -100px;
	z-index: 45;
}
	#contact-schedule .barnyard {
		margin-top: 0px;
	}
	#contact-schedule .trough {
		margin-top: 50px;
		margin-left: -2px;
	}
	#contact-schedule .tutoring {
		margin-top: 50px;
		margin-left: -4px;
	}

/******* Download Newsletter *******/

div#blogroll {
    text-align: center;
}
#redeem_dropcard,
#download_newsletter {
	position: relative;
	z-index: 50;
	margin-right: 5px;
}
#redeem_dropcard p.dropcards,
#download_newsletter p.download {
	margin-bottom: 0;
}

#download_newsletter p.download a {
	display: block;
	font: 11px Arial, sans-serif;
	color: #b2a38b;
	background: url("/workspace/images/download_newsletter.gif") 10px top no-repeat;
	border: none;
	zoom: 1;
	padding: 34px 0 23px 78px;
}
#redeem_dropcard p.dropcards a {
	display: block;
	font: 11px Arial, sans-serif;
	color: #b2a38b;
	background: url("/workspace/images/redeem_dropcards.jpg") 10px top no-repeat;
	border: none;
	zoom: 1;
	padding: 34px 0 85px 78px;
}


/******* Typography *******/

h2 {
	color: #424242;
	background: url("../images/hr.gif") 0 100% no-repeat;
	font: bold 0.9em/1.5em Helvetica, Sans-serif;
	padding: 0 5px;
}

h3 {
/*	background: url("../images/hr.gif") 0 100% no-repeat;*/
	font: bold 24px/1.2em Helvetica, Sans-serif;
/*	text-transform: uppercase;*/
/*	text-shadow: #f6f5e7 0 0 0;*/
	letter-spacing: -1px;
/*	padding: 0.3em 5px 0.4em;*/
/*	margin-bottom: 1em;*/
}

h4 {
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #463111;
	font-weight: normal;
	font: 16px/16px Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}
	#support h4 {
		padding-bottom: 5px;	
		margin-top: 30px;
		margin-bottom: 0px;	
		border-bottom: solid 1px #b2a38b;
	}
	
	#about h4,
	#dropcards h4 {
		margin-top: 30px;
		text-transform: none;
		font-weight: bold;
	}
	#about #column_left img {
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}

p {
	margin: 20px 0 15px;
}

.hrule,
hr {
	background: url("../images/icons/glyph.gif") 50% 50% no-repeat;
	width: 106px;
	height: 11px;
	margin: 2em auto;
	text-align: center;
	border: none;
}

code {
	color: #843c37;
	font: 0.9em Monaco, "Courier New", Courier, mono;
}

ul, ol {
	margin: 0 55px;
}

ul {
	list-style: square;
}

li {
	margin: 0.5em 0;
}

/******* Modules *******/

#column_right .module {
	margin-right: 5px;
	border-top: solid 1px #b2a085;
	padding: 20px 0 0 14px;
}
	#column_right .module h4 {
		font: 14px/14px Helvetica, Arial, sans-serif;
	}
	
.see_all {
	text-align: right;
	font: 11px/11px Arial, sans-serif;
	padding-right: 15px;
	margin-top: 0;
	margin-bottom: 20px;
}

/******* Recent Photos *******/

#recent_photos ul {
	list-style: none;
	margin: 0;
	padding: 0;
}             
	#recent_photos ul li {
		padding: 0;
		margin: 0 8px 0 0;
		float: left;
	}
		#recent_photos ul li p {
			margin: 0;
			padding: 0;
		}
		#recent_photos ul li a {
			border: none;
		}
		#recent_photos ul li img {
			padding: 8px;
			background: #d2c0a5;
		}
		
/******* Recent Events *******/
#recent_events {
/*	padding-right: 15px;*/
}
	#recent_events ul {
		list-style: none;
		margin: 0 15px 8px 0;
		padding: 0;
	}
		#recent_events ul li {
			background: #d9cab3;
			margin: 0 0 1px 0;
			padding: 7px 10px;
		}
		#recent_events ul li.old {
			background-color: #d2c0a5;
		}                                     
			#recent_events ul li.old p a {
				color: #937f60;
			}                       
			
			#recent_events ul li p {
				font: 12px/14px Arial, sans-serif;
				margin: 0;
				padding: 0;
			}
			#recent_events ul li p a {
				border: none;
			}
			#recent_events ul li p a em {
				font-size: 11px;
				color: #937f60;
			}
                
/******* Blog *******/

#event-detail p.date,
#blog p.date {
	margin: 3px 0 0 0;
	font: normal 11px Arial, sans-serif;
	color: #b2a38b;
}

ul.meta {
	position: relative;
	font-size: 11px;
	color: #b2a38b;
	list-style: none;
	margin: 0;
}
ul.meta li {
	display: inline;
	padding-right: 3px;
}
#content a.atbutton { border: none; }
#column_left a.atbutton img {
	border: none;
	padding: 0px;
	background: transparent;
}

#column_left ul.meta li img {
    border: none;
    padding: 0;
    background: transparent;
    vertical-align: middle;
}

.media_embed iframe {
    width: 482px;
}

/******* Blog Images *******/

/*
ul#article-images {
	list-style: none;
	overflow: hidden;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: 10px 0 0;
	margin: 1em 0;
}

ul#article-images a {
	display: block;
	border: 1px solid #b3ae96;
	margin-right: 11px;
	margin-bottom: 10px;
	padding: 1px;
}

ul#article-images a:hover img {
	border-color: #514f47;
}

ul#article-images li {
	float: left;
}

ul#article-images li a img {
	display: block;
	border: 1px solid #8b8774;
}

ul#article-images li a.last-column {
	margin-right: 0;
}
*/

/******* Recent Blogs *******/
#column_left #recent_blogs,
#column_left #links,
#column_left #coach-list,
#column_left #crew-list,
#column_left #board-list {
	padding-top: 30px;
}
	#column_left #recent_blogs ul,
	#column_left #links ul,
	#column_left #coach-list ul,
	#column_left #crew-list ul,
	#column_left #board-list ul {
		border-top: solid 1px #b2a38b;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#column_left #links ul {
		margin-bottom: 30px;
	}

	#column_left #links ul.archive li p,
	#column_left #recent_blogs ul.archive li p {
		padding-left: 40px;
	}
	#column_left #links ul.archive li p.day,
	#column_left #recent_blogs ul.archive li p.day {
		position: absolute;
		padding: 4px 0 5px 0;
		color: #664b23;
	}
		#column_left #recent_blogs ul li,
		#column_left #links ul li,
		#column_left #coach-list ul li,
		#column_left #crew-list ul li,
		#column_left #board-list ul li {
			background: url("/workspace/images/icons/view-post.gif") right center no-repeat;
			border-bottom: solid 1px #d2c9b9;
			margin: 0;
			padding: 7px 10px;
			position: relative;
		}
		#column_left #links ul li {
			background: url("/workspace/images/icons/view-link.gif") right center no-repeat;
		}
		#column_left #coach-list ul li,
		#column_left #crew-list ul li,
		#column_left #board-list ul li {
			background: none;
			padding: 10px;
		}
		#column_left #recent_blogs ul li.odd,
		#column_left #links ul li.odd,
		#column_left #coach-list ul li.odd,
		#column_left #crew-list ul li.odd,
		#column_left #board-list ul li.odd {
			background-color: #f2efe7;
		}                                     
			#column_left #recent_blogs ul li p,
			#column_left #links ul li p {
				font: 14px/16px Arial, sans-serif;
				margin: 0;
				padding: 0;
			}
			#column_left #coach-list ul li h4,
			#column_left #crew-list ul li h4,
			#column_left #board-list ul li h4 {
				font: bold 14px Arial, sans-serif;
				margin: 0 0 10px 0;
				padding: 0;
			}
			#column_left #coach-list ul li h4.bio,
			#column_left #crew-list ul li h4.bio,
			#column_left #board-list ul li h4.bio {
				margin-bottom: 10px;
			}
			#column_left #coach-list ul li p,
			#column_left #crew-list ul li p,
			#column_left #board-list ul li p {
				font: 12px/18px Arial, sans-serif;
				margin: 0;
				padding: 0 0 10px 0;
			}
			#column_left #recent_blogs ul li p.date {
				font-size: 11px;
				color: #b2a38b;	
				padding-right: 40px;			
			}
			
			#column_left #links ul li p.date {
				font-size: 11px;
				color: #b2a38b;
			}

#column_right #recent_blogs {
	
}


/******* Comments *******/

#comments,
#comment_form {
	border-top: solid 1px #b2a38b;
}

#comment_form {
	background: #f2efe7;
	padding: 0 15px;
	border-bottom: 1px solid #d2c9b9;
}

#comments dl.comment {
	overflow: hidden;
	border-bottom: 1px solid #d2c9b9;
	padding: 0.5em 0;
}

#comments dl.comment.odd {
	background-color: #f2efe7;
}                                     

#comments dl.comment dt {
/*	color: #6a6a6a;*/
	float: left;
	width: 134px;
	text-align: right;
	padding-right: 10px;
}

#comments dl.comment.authorised {
	background: url("../images/comment-authorised.png") 0 0 repeat;
}

#comments dl.comment dt em {
	display: block;
	color: #b2a38b;
	font: normal 0.85em/0.7em Helvetica, Sans-serif;
}

#comments dl.comment dd {
/*	color: #575449;*/
	padding-left: 1em;
	border-left: 1px dotted #ccc;
	padding: 0 10px 0.3em;
	margin-left: 143px;
}

#comments dl.comment dd p {
	margin: 0 0 1em;
}

/******* Notes *******/

dl.note {
	overflow: hidden;
}

dl.note dt {
	float: left;
	color: #599777;
	padding: 1em 5px;
}

dl.note dd {
	padding: 1em 0 1em 4em;
	border-bottom: 1px dotted #ccc;
}

dl.note p {
	display: inline;
}

/******* Archive *******/

ul.list {
	overflow: hidden;
	color: #575449;
	list-style: none;
	border-top: 1px dotted #ccc;
	padding: 0.5em 5px;
	margin: 0;
}

ul.list li {
	display: inline;
}

ul.list li sup {
	line-height: 0;
}

ul.list li.date {
	float: left;
}

ul.list li.title {
	margin-left: 25px;
	float: left;
}

ul.list li.comments,
ul.list li.categories {
	float: right;
}

/******* Form *******/

#guideline {
	float: right;
	color: #333;
	width: 235px;
	font: 80%/1.5em Verdana, Sans-serif;
	margin: 20px 0 0 15px;
}

#guideline h4 {
	font: 110% Helvetica, Sans-serif;
	text-transform: uppercase;
	border-bottom: 1px dotted #aaa;
	padding-bottom: 6px;
}

#guideline ul {
	list-style-type: square;
	margin: 6px 0 30px 15px;
}

#guideline li {
	margin: 0 5px 12px;
}

form {
	overflow: hidden;
	line-height: 12px;
/*	background-color: #ede8dd;*/
/*	border: 1px solid #dad3c3;*/
/*	margin-top: 20px;*/
}

form fieldset {
/*	background: #ffffff;*/
	border: none;
	font-size: 90%;
	padding: 20px 0 0 0;
	margin: 1px;
}

form label {
	display: block;
	position: relative;
	margin-bottom: 15px;
}
form label.required em {
	color: #9d1c00;
}

form label small {
	position: absolute;
	top: 0;
	right: 0;
	color: #3f5a3e;
	font-size: 90%;
	text-transform: none;
	text-align: right;
	margin-left: 40%;
}

form label small a:hover {
	color: #ccc;
	border-color: #888; 
}

form input[type="text"],
form input.textfield, form textarea {
	margin-top: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: #d2c9b9;
	display: inline-block;
	width: 100%;
	padding: 5px 3px;
	border: solid 1px #d2c9b9;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	font-size: 12px;
}

form textarea {
	height: 200px;
}

form input[type="image"]#submit {
	display: block;
	float: right;
}

form label.required input {
/*	background-color: #f1fdc6;*/
}

form p.success {
	color: #2c421b;
	background-color: #8acd55;
	padding: 5px 15px;
	border-top: 1px solid #a9fa68;
	border-bottom: 1px solid #6fa444;
	margin: 1px !important;
}

form p.error {
	color: #5f311b;
	background-color: #fb834b;
	border-top: 1px solid #fcc8a4;
	border-bottom: 1px solid #ae5832;
	padding: 5px 15px;
	margin: 1px !important;
}

form label.error{
	color: #b12123;
	font-weight: bold;
}

form#publish-article {
	text-align: center;
}

form#publish-article fieldset button#submit {
	cursor: pointer;
	color: #333;
	background: url("../images/button.gif") 0 0 no-repeat;
	width: 130px;
	height: 30px;
	border: none;
}

/******* Footer *******/

ul#footer {
	color: #cbc2b3;
	width: 822px;
	font-size: 11px;
	text-align: right;
	margin: 0 0 0 119px;
	padding: 0 20px 150px 0;
}

ul#footer li {
	display: inline;
	margin-left: .5em;
}

ul#footer li a {
	font-weight: bold;
	color: #cbc2b3;
/*	border-bottom: 1px dotted #51463d;*/
}

ul#footer li a:hover {
	color: #cbc2b3;
}
#social {
    padding: 0 15px 0 15px;
}

#donate {
    padding: 0 0 0 9px;
}
#social a {
    text-decoration: none;
}
/*#social a {
    font-weight: bold;
    color: #cbc2b3;
}
#social a:hover {
    color: #cbc2b3;
}
*/

#products .product {
    width: 195px;
    float: left;
    margin-right: 50px;
}
#products #product-2,
#products #product-4,
#products #product-6,
#products #product-8,
#products #product-10 {
    margin-right: 0;
}
.product-info {
    margin-bottom: 20px;
}
h3.product-title {
    font-size: 16px;
    margin-top: 10px;
}
p.product-price {
    margin: 0;
}
#images-list {
    display: none;
}
#cart-form {
    
}
    #cart-form table {
        border-collapse: collapse;
        width: 100%;
        border-top: solid 1px #B2A38B;
        margin-bottom: 10px;
    }
    #cart-form table thead tr th,
    #cart-form table tr.row-alt th,
    #cart-form table tr.row-alt td {
        background-color: #F2EFE7;   
    }
    #cart-form table tr td,
    #cart-form table tr th {
        border-collapse: collapse;
        border-bottom: solid 1px #D2C9B9;
        padding: 5px 0;
    }
    #cart-form table tr th { padding-left: 5px; }
    #cart-form td input {
        width: 30px;
    }
#ZoomBox {
    background: #fff;
}    
div.images-prev,
div.images-next {
    display: inline-block;
}
#product-details {
    margin-top: 10px;
}
#product-details h3.price {
    margin-bottom: 10px;
}
#product-addtocart,
.checkout-btn {
    padding: 10px;
    margin-top: 10px;
}
#update-btn-footer {
    padding: 5px;
    margin-bottom: 10px;
}
